/* CSS Document */
@charset "utf-8";


#slideshow-featured {
	background-color: #EEE;
	width: 890px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	box-shadow: 0px 2px 1px 1px #CCC;
	height: 1700px;
	background-attachment: fixed;
}
#slideshow_div-featured {
	height: 1685px;
	width: 870px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
	z-index: -10000;
	background-color: #FFF;
	background-attachment: fixed;
}
#heading {
	height: 40px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	background-position: 100px;
	background-image: url(images2/featured_brands.png);
	background-repeat: no-repeat;
}


#gallery_desc6 {
	padding: 0px;
	height: 180px;
	width: 870px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	font-family: Tahoma;
	font-size: 12px;
}



#milady {
	padding: 0px;
	height: 280px;
	width: 850px;
	margin-right: 12px;
	margin-left: 10px;
	font-family: Tahoma;
	font-size: 12px;
	margin-top: 16.5px;
}
#featuredtext_heading {
	height: 20px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-top: 15px;
}
#top {
	padding: 0px;
	height: 15px;
	width: 75px;
	margin-right: 5px;
	font-family: Tahoma;
	font-size: 12px;
	text-align: center;
	float: right;
}

#featuredtext_box {
	padding: 0px;
	height: 225px;
	width: 415px;
	margin-right: auto;
	margin-left: 10px;
	font-family: Tahoma;
	font-size: 12px;
	float: left;
	margin-top: 20px;
}
#featuredimage_box {
	padding: 0px;
	height: 225px;
	width: 400px;
	margin-right: 10px;
	font-family: Tahoma;
	font-size: 12px;
	float: right;
	margin-top: 5px;
}
#box1 {
	padding: 0px;
	height: 35px;
	width: 500px;
	margin-top: 32px;
	margin-left: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: 870;
	float: left;
}
para {
	text-align: justify;
}
para {
	text-align: center;
}
para {
	text-align: justify;
}
